* {
    margin: 0;
    padding: 0;
}

/*======================= nav start============= */
.first {
    width: 100%;
    height: 879px;
    position: relative;
}

.nav-item a {
    font-size: 20px;
    font-weight: 400;
    color: #032342;
    font-family: DM Sans;
}

.btn_onew {
    width: 200px;
    height: 52px;
    font-size: 18px;
    background-color: #364f7e;
    border-radius: 10px;
    color: white;
    border: none;
}

/* main section start */
.find {
    width: 618px;
    height: 144px;
    top: 195px;
    left: 80px;
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}

.img_two img {
    width: 45px;
    height: 40px;
    top: 213px;
    left: 320px;
}

.Good {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    Top: 355px;
    Left: 80px;
    color: #888888;
}

.btn_one {
    Width: 201px;
    height: 52px;
    Top: 465px;
    Left: 80px;
    border-radius: 10px;
    font-weight: 500;
    Size: 18px;
    border: none;
    background-color: #385182;
}

.btn_two {
    width: 155px;
    height: 52px;
    top: 465px;
    left: 309px;
    border-radius: 10px;
    border: 1px solid #385182;
    font-weight: 500;
    font-size: 18px;
}

.img_three {
    width: 49.33px;
    height: 116.84px;
    top: 437px;
    left: 503px;
    rotate: -110.63 deg;
}

.img_four {
    width: 296px;
    height: 291px;
    top: 588px;
    left: 80px;
}

.medi {
    width: 134px;
    height: 128px;
    top: 189px;
    left: 713px;
    border-radius: 20px;
    background-color: #6285CA;
}

.medi img {
    width: 83px;
    height: 83px;
    top: 24px;
    left: 22px;
}

.medi_two {
    width: 134px;
    height: 128px;
    top: 189px;
    left: 860px;
    border-radius: 20px;
}

.medi_two img {
    width: 83px;
    height: 83px;
    top: 24px;
    left: 22px;
}

.surat {
    width: 281px;
    height: 289px;
    top: 333px;
    left: 713px;
    border-radius: 20px;
    background-color: #6285CA;
}

.surat img {
    width: 189px;
    height: 267px;
    top: 22px;
    left: 48px;
}

.nurs {
    width: 281px;
    height: 356px;
    top: 189px;
    left: 1018px;
    border-radius: 20px;
    background-color: #385182;
}

.alex {
    width: 281px;
    height: 163px;
    top: 638px;
    left: 713px;
    border-radius: 20px;
    background-color: #385182;
}

.doctor_pic {
    width: 281px;
    height: 224px;
    top: 561px;
    left: 1018px;
    border-radius: 20px;

}

/*========= nav End===========*/

/* Section two */
.clint_box {
    background-color: white;
    width: 204px;
    text-align: center;
    height: 145px;
    border-radius: 20px;
    position: absolute;
    top: 968px;
    left: 125px;
    z-index: 2;
}

.clint_box img {
    width: 39px;
    height: 39px;
    position: relative;

}

.company {
    position: relative;
    left: 190px;
    top: 50px;
    color: white;
    font-size: 11px;
    text-shadow: -1px 1px 0 #dfdfe6, 1px 1px 0 #dfdfe6,
    1px -1px 0 #dfdfe6, -1px -1px 0 #dfdfe6;
}

.btn_three {
    width: 189px;
    height: 52px;
    top: 1429px;
    left: 808px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #385182;
}

.sec_two {
    width: 100%;
    height: 798px;
    background-color: #F5F6F9;
    position: relative;
}

.service {
    font-size: 16px;
    left: 664px;
    top: 111px;
    font-size: 16px;
    color: #6285CA;
}

.service_two {
    font-size: 40px;
    color: #032342;
    top: 137px;
    left: 523px;
}

.kidney {
    width: 382px;
    height: 422px;
    position: absolute;
    top: 260px;
    left: 67px;
    border-radius: 14px;
    background-color: #38518214;
}

.kidney_one {
    width: 382px;
    height: 422px;
    position: absolute;
    background: url(./img/Rectangle\ 4327-1.png);
    top: 260px;
    left: 488px;
    border-radius: 14px, 14px, 14px, 197px;

}

.kidney_two {
    width: 382px;
    height: 422px;
    position: absolute;
    top: 260px;
    left: 915px;
    border-radius: 14px;
    background-color: #38518214;
}

.next {
    width: 157px;
    height: 36px;
    top: 716px;
    left: 78px;
    font-size: 24px;
    color: #E2E5ED;
    position: absolute;

}

.priveous {
    position: absolute;
    width: 141px;
    height: 36px;
    font-size: 24px;
    top: 716px;
    left: 1192px;
    color: #385182;
}

/* section three */
.sec_three {
    width: 100%;
    height: 798px;
}

.doctor {
    width: 584px;
    height: 506px;
    position: relative;
    top: 150px;
}

.our {
    width: 543px;
    height: 96px;
    top: 30px;
}

.chirst {
    width: 550px;
    height: 250px;
    position: absolute;
    left: 10px;
    top: 245px;
    border-radius: 16px;
    background-color: #385182;
}

.mbbs {
    Width: 237px;
    Height: 130px;
    position: absolute;
    top: 298px;
    left: 243px;
}

.btn_five {
    Width: 149px;
    height: 42px;
    Top: 80px;
    Left: 0px;
    position: absolute;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    border: 1px solid;
    font-size: 18px;
    background: transparent;
}

.chirst_one {
    width: 550px;
    height: 250px;
    left: 10px;
    top: 100px;
    border-radius: 16px;
    background-color: #385182;
    left: 200px;
}

.mbbs_one {
    Width: 237px;
    Height: 130px;
    position: absolute;
    top: 177px;
    left: 453px;
}

.more_one {
    width: 270px;
    height: 29px;
    position: absolute;
    top: 220px;
    word-spacing: 25px;
    color: #3851824D;
    right: 20px;
    text-shadow: -1px 1px 0 #dfdfe6, 1px 1px 0 #dfdfe6, 1px -1px 0 #dfdfe6, -1px -1px 0 #dfdfe6;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 10px;
}

/* Section Six */

.collbrat {
    width: 120px;
    height: 135px;
    background-color: white;
    box-shadow: 4px 4px 5px rgb(232, 231, 231);
    position: relative;
    top: 190px;
    right: 60px;
    z-index: 2;
}

.box {
    width: 1105px;
    height: 69px;
    background-color: white;
    position: relative;
    bottom: 65px;
    rotate: -2.88deg;
    font-size: 20px;
    border-radius: 20px;
    right: 100px;
}

.blue_box {
    width: 1100px;
    height: 60px;
    border-radius: 20px;
    position: relative;
    right: 93px;
    background-color: #032342;
}

/* Section Seven */
.form {
    width: 604px;
    height: 553px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(232, 231, 231);
}

.form input {
    width: 269px;
    height: 52px;
    background-color: rgba(3, 35, 66, 0.04);
    border: none;
    border-radius: 10px;
}

.form input::placeholder {
    padding-left: 10px;
}

.form textarea {
    width: 540px;
    height: 133px;
    background-color: rgba(3, 35, 66, 0.04);
    border: none;
    border-radius: 10px;
}

.form textarea {
    padding: 20px
}

/* section eight */
#brask {
    width: 720px;
    height: 355px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgb(232, 231, 231);
}

#brask h4 {
    position: relative;
    left: 370px;
    bottom: 300px;
}

#brask p {
    position: relative;
    left: 370px;
    bottom: 300px;
}

#bone-two {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgb(232, 231, 231);
}

#bone-two h4 {
    position: relative;
    left: 40px;
    top: 10px;
}

#bone-two p {
    position: relative;
    left: 40px;
    top: 20px;
}

#brek {
    width: 380px;
    height: 178px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgb(232, 231, 231);
}

#brek h4 {
    position: relative;
    margin-left: 190px;
    bottom: 110px;
    font-size: 24px;
}

#brek p {
    position: relative;
    margin-left: 190px;
    bottom: 110px;
}

#colr h4 {
    color: rgba(3, 35, 66, 1);
}

#colr p {
    color: rgba(118, 118, 118, 1);
}

/* new section */

.btn_two {
    width: 140px;
    height: 45px;
    font-size: 18px;
    background-color: #364f7e;
    border-radius: 10px;
    color: white;
    border: none;
}

.News {
    width: 1100px;
    height: 330px;
    border-radius: 48px;
    background-image: url(./img/eight/Group.png);
    background-color: #385182;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 5px rgb(232, 231, 231);
}

.news_one {
    margin-top: 12px;
    font-weight: 600;
    font-size: 18px;
    color: #8d9bb8;
}

#mail {
    padding: 13px;
    background-color: #445b89;
    border: 1px solid #6a7ca1;
}

.btn_three {
    width: 140px;
    height: 45px;
    font-size: 18px;
    background-color: #c5cad3;
    border-radius: 10px;
    color: #032342;
    border: none;
}

/* footer start */

.footer {
    background-color: #032342;
}

.dhruv h4 {
    font-size: 32px;
    font-weight: 500;
    color: white;
    font-family: Fredoka;
}

.dhruv li {
    color: white;
    line-height: 25px;
}

.label p {
    font-size: 12px;
    font-weight: 400px;
    font-family: sans-serif;
    color: #c5cad3;
    line-height: 25px;
}

.label-2 {
    line-height: 20px;
}

.label-2 h3 {
    font-size: 14px;
    font-family: sans-serif;
    padding-left: 5px;
    padding: 5px;
}

.label-2 p {
    color: #c5cad3;
}

#icon_which {
    font-size: 22px;
    color: white;
    margin-top: 15px;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid;
}

#icon_which {
    font-size: 22px;
    color: white;
    margin-top: 15px;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid;
}


.copy {
    width: 100%;
    height: 50px;
    background-color: #032342;
    padding-top: 10px;
}

.more {
    text-align: center;
    font-size: 18px;
}